.dropdown {
  &__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 42px;
    width: 100%;
    padding: 0 32px;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
  }
  &__arrow {
    width: 20px;
    height: 20px;
    margin: 11px 0;
  }
  &__submenu {
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding: 8px 0 8px 44px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500px;
    color: #a8a8a8 !important;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &__item--active {
    color: #3179cc !important;
  }
}
