.main-container {
  display: flex;
  margin-top: 66px;
}

.dropdown-menu-container-desktop {
  display: none;
}

.dropdown-menu-container-settings-box {
  margin-top: 316px;
}

.aside-menu {
  display: none;
}

.articles-wrapper {
  display: flex;
}

.main-content-container {
  width: 100%;
}

.articles-wrapper-width {
  width: 100%;
}

.margin-t-50 {
  margin-top: 50px;
}

.hide-mobile {
  display: none;
}

@media only screen and (min-width: 834px) {
  .dropdown-menu-container-desktop {
    padding-top: 34px;
    top: initial;
    position: fixed;
    display: block;
    height: calc(100% - 77px);
  }
  .main-container {
    margin-top: 77px;
  }
  .main-content-container {
    margin: 50px 10px 24px 333px;
  }
  .main-content-container-wrapper {
    display: flex;
    justify-content: center;
  }
  .main-content-container-wrapped {
    max-width: 1018px;
    width: 100%;
  }
  .hide-mobile {
    display: block;
  }
  .articles-wrapper-width {
    max-width: 654px;
  }
}

@media only screen and (min-width: 1080px) {
  .aside-menu {
    display: block;
  }
  .main-content-container {
    margin: 50px 50px 24px 373px;
  }
}
