.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  height: 65px;
  z-index: 10;
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 7px;
    a {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      margin-left: 2px;
    }
  }
  &__buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-right: 16px;
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: var(--buttons-color) solid 1px;
      border-radius: 50px;
      cursor: pointer;
      font-size: 14px;
      line-height: normal;
      p {
        color: var(--buttons-color);
        margin: 0;
      }
      &--log {
        width: 69px;
        height: 38px;
        font-weight: 400;
      }
      &--disabled {
        pointer-events: none;
        cursor: default;
        --buttons-color: var(--thumb-color);
      }
      &--register {
        background-color: var(--buttons-color);
        width: 83px;
        height: 38px;
        font-weight: 500;
        p {
          color: var(--white-color);
        }
      }
    }
  }
}

.dropdown-container {
  background-color: var(--white-color);
  position: absolute;
  top: 66px;
  width: 321px;
  border: 1px solid var(--border-color);
  border-top: none;
  height: 340px;
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 22px;
  }
  &::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 40px;
    background-color: var(--thumb-color);
  }
  &__heading {
    font-size: 12px;
    color: var(--heading-color);
    font-weight: 400;
    margin: 50px 0 16px 49px;
  }
  &__icon {
    max-width: 30px;
    margin-right: 12px !important;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  &__popular {
    padding: 6px 49px;
    justify-content: flex-start;
    &:hover {
      background-color: var(--background-color);
    }
  }
}

.flex-container {
  display: flex;
}

.input-container {
  display: none;
}

@media only screen and (min-width: 834px) {
  .dropdown-container {
    display: none;
  }
  .input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    input {
      box-sizing: border-box;
      height: 44px;
      width: 100%;
      max-width: 661px;
      background-color: var(--background-color);
      border: 0;
      margin-right: 50px;
      border-radius: 50px;
      background-size: 20px 20px;
      background-position: 24px 12px;
      background-repeat: no-repeat;
      padding-left: 54px;
      color: var(--heading-color);
      position: relative;
    }
    input:focus,
    input:hover {
      outline: 1px solid #3179cc;
    }
  }
  .not-display-hamburger {
    display: none;
  }
  .margin-left-desktop {
    margin-left: 43px;
    font-size: 28px !important;
  }
  .navBar {
    height: 76px;
    &__buttons-container__button {
      margin-right: 50px;
      &:hover {
        --buttons-color: #0159bf;
      }
      &:active {
        --buttons-color: #94bae7;
      }
      &--log {
        width: 137px;
        height: 42px;
      }
      &--register {
        width: 151px;
        height: 42px;
      }
    }
  }
}
