/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  background-color: var(--background-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

a:link {
  text-decoration: inherit;
  color: initial;
}

a:visited {
  text-decoration: inherit;
  color: initial;
}
