.post-menu {
  background-color: var(--white-color);
  padding: 24px 16px 18px 16px;
  &__heading {
    font-size: 24px;
    font-weight: 500;
  }
  &__heading-small {
    font-size: 14px;
    font-weight: 500;
    margin: auto 6px;
    color: var(--text-color);
    &--blue {
      color: #3179cc;
    }
  }
  &__icon-big {
    width: 24px;
    height: 24px;
    margin: auto 0px;
  }
  &__icon-small {
    width: 20px;
    height: 20px;
    margin: 2px 0;
  }
  &__flex-container {
    display: flex;
    justify-content: space-between;
    &--gap {
      gap: 16px;
    }
  }
  &__anchor {
    margin: auto 0px;
  }
}

.dropdown-country-menu {
  position: absolute;
  top: 42px;
  right: 7px;
  width: 154px;
  height: 256px;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: overlay;
  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #a8a8a8;
    padding: 8px 24px;
  }
  &__item:hover {
    color: #3179cc;
  }
  &__menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    &--margin {
      margin: 24px 0;
    }
  }
  &::-webkit-scrollbar {
    width: 22px;
  }

  &::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 40px;
    background-color: var(--thumb-color);
  }
}

.margin-t-24 {
  margin-top: 24px;
}

.margin-l-6 {
  margin-left: 6px;
}

.blue-hover {
  margin-left: 8px;
}

.blue-hover:hover > * {
  color: #3179cc;
  --new-icon: url(src/assets/images/blueNewIcon.png);
}

.post-menu-desktop {
  display: none;
  &__item {
    box-sizing: border-box;
    padding: 6px 18px;
    background-color: var(--background-color);
    border-radius: 50px;
    font-size: 14px;
    color: #3179cc;
  }
}

.hover-icon {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: var(--new-icon);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto 0;
}

@media only screen and (min-width: 834px) {
  .post-menu-desktop {
    display: block;
    padding: 15px 24px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
  }
  .post-menu-mobile {
    display: none;
  }
}
