.image-section {
  display: none;
  &__heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  &__images-wrapper {
    display: flex;
    gap: 18px;
  }
  &__image-container {
    display: none;
    position: relative;
  }
}

.show-two-images {
  display: none;
}

@media only screen and (min-width: 834px) {
  .image-section {
    display: flex;
    flex-direction: column;
  }
  .show-two-images {
    display: block;
  }
}

@media only screen and (min-width: 920px) {
  .show-three-images {
    display: block;
  }
}

@media only screen and (min-width: 1170px) {
  .show-four-images {
    display: block;
  }
}
